<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287680013826-nbgnas0fimp75knap3d9ajj9bj405t7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287680013826-nbgnas0fimp75knap3d9ajj9bj405t7i</string>
	<key>API_KEY</key>
	<string>AIzaSyCSLYho4thqCMW67vheADL6cBIska05DK4</string>
	<key>GCM_SENDER_ID</key>
	<string>287680013826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimapinfotech.ShopNow</string>
	<key>PROJECT_ID</key>
	<string>shopnow-d1dd1</string>
	<key>STORAGE_BUCKET</key>
	<string>shopnow-d1dd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287680013826:ios:67429f09915f721768291b</string>
</dict>
</plist>